@import 'bootstrap'

.todo-line
  @extend .row
  padding-top: 10px
  margin-top: 10px
  padding-bottom: 10px
  margin-bottom: 10px
  background-color: #eef

  .todo-display
    @extend .col-xs-8
    @extend .col-sm-10
    .item
      padding-top: 8px
    .cancel
      @extend .btn

  .edit-buttons
    @extend .col-xs-4
    @extend .col-sm-2
    @extend .col-md-2
    @extend .btn-group
    a
      @extend .btn
      @extend .btn-default

.todo-entry
  input
    @extend .col-xs-9
  button
    @extend .col-xs-3

body
  padding-bottom: 30px

input
  @extend .form-control


.question-title
  @extend .row
  @extend .alert
  @extend .alert-info

.question-thanks
  @extend .row
  h3
    text-align: center

.question-progress-bar
  @extend .row
  @extend .col-md-12
  .summary
    text-align: center

.question-choices
  @extend .row

.question
  @extend .row
  h3
    text-align: center
  .images
    @extend .col-xs-4
    @extend .col-md-4
    img
      width: 100%
